$layout-w: 1171px;
$base-color: #fff;
$brown: #683817;
$products-in-cart-circle-size: 27px;
$contacts-form-ref-h: 34px;
$gray: #666;
$black: #333;
$dropdown-w: 223px;
$search-field-h: 67px;
$search-field-w: 242px;
//$screen-1280: 1280px;
//$max-body-w: 1900px;
//$main-h: 989px;
//$menu-padding-right-w: 32px;
//$menu-icon-w: 28px;
//$menu-icon-h: 17px;
//$max-contacts-w: 480px;
//$logo-w: 96px;
//$logo-h: 123px;
//$programs-table-h: 1074px;
//$max-organize-block-w: 860px;
//$programs-list-bottom-margin: 16px;
//$programs-list-item-h: 58px;
//$side-block-w: 416px;
//$arrow-w: 16px;
//$arrow-h: 14px;
//$base-color: #fff;
//$table-padding: 44px;
//$more-btn-w: 213px;
//$more-btn-h: 49px;
//$max-dark-section-description-w: 560px;
//$light-gray: rgb(248, 248, 248);
//$black: rgb(68, 68, 68);
//$gray: #666;
//$middle-gray: #999;
//$orange: #C9A244;
//$extralight-gray: #d1d1d1;
//$light-brown: #dfb245;
//$dark-black: rgb(51, 51, 51);
//$yellow: rgb(255, 201, 70);
//$main-wrapper-w: 1006px;
//$checkbox-size: 16px;
//$input-h: 48px;
//$textarea-h: 150px;
//$social-item-size: 29px;
//$vk-icon-w: 32px;
//$vk-icon-h: 18px;
//$small-side-block-w: 126px;
//$light-brown: #9e7616;
//$light-black: #221E1F;
//$screen-1366: 1366px;
//$radio-size: 19px;
//$bg-color: #a17919;

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-width: $layout-w;
  max-width: 100%;
  color: $base-color;
  font: {
    family: "Circe-Regular", sans-serif;
    size: 14px;
  }
  text-align: left;
}

.invisible {
  display: none !important;
}

.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

.layout-center-wrapper {
  position: relative;
  width: $layout-w;
  display: block;
  margin: 0 auto;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

.link {
  text-decoration: underline;
}

a {
  color: $base-color;
}

.btn {
  text: {
    align: center;
    decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
  display: inline-block;
}

.text-block {
  font: {
    family: "Circe-Light", sans-serif;
    size: 18px;
  }
  line-height: 1.2;
  padding-bottom: 15px;
  span {
    font: {
      family: "Circe-Bold", sans-serif;
    }
  }
}

.section-title {
  line-height: 1.2;
  font: {
    family: "Circe-Bold", sans-serif;
    size: 48px;
  }
  text-transform: uppercase;
}

header {
  position: relative;
  width: 100%;
  @include border-box;
  padding: 29px 0;
  background: $brown;
  .contacts {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .phone {
    vertical-align: top;
    font: {
      family: "FranklinGothic-Demi", sans-serif;
      size: 21px;
    }
    position: relative;
    top: 5px;
    display: inline-block;
    margin-right: 10px;
  }
  .contacts-form-ref {
    vertical-align: top;
    text-decoration: none;
    color: $base-color;
    height: $contacts-form-ref-h;
    line-height: $contacts-form-ref-h - 1;
    @include border-radius(13px);
    padding: 0 15px;
    font: {
      family: "FranklinGothic-Demi", sans-serif;
      size: 18px;
    }
    display: inline-block;
    background: $black;
    position: relative;
  }
  .cart {
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
    @include size(80px, 67px);
    background: url(../images/cart.png) 0 0 no-repeat;
    .products-in-cart {
      font: {
        family: "FranklinGothic-Book", sans-serif;
        size: 14px;
      }
      color: $base-color;
      display: block;
      @include size($products-in-cart-circle-size, $products-in-cart-circle-size);
      position: absolute;
      top: 20px;
      left: 0;
      text-align: center;
      line-height: $products-in-cart-circle-size;
    }
  }
  .logo {
    top: 23px;
    left: 33px;
    position: absolute;
    @include size(143px, 45px);
    background: url(../images/logo.png) 0 0 no-repeat;
  }
}

nav {
  position: relative;
  width: 100%;
  padding: 30px 0 35px;
  text-align: center;
  .dropdown {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    &>li {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-right: 20px;
      a {
        display: block;
        color: $black;
        text-decoration: none;
        font: {
          family: "FranklinGothic-Demi", sans-serif;
          size: 21px;
        }
      }
      &:last-child {
        margin-top: 0;
      }
    }
    ul {
      top: 44px;
      &:before {
        content: "";
        position: absolute;
        left: 25px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 11px 11px 11px;
        border-color: transparent transparent $black transparent;
        top: -11px;
      }
      text-align: left;
      list-style: none;
      width: $dropdown-w;
      @include border-box;
      background: $black;
      padding: 10px 20px 10px 25px;
      li {
        display: block;
        margin-bottom: 10px;
        a {
          display: block;
          text-decoration: none;
          @extend %text-overflow;
          font: {
            family: "21_centbold";
            size: 20px;
            weight: bold;
          }
          color: $base-color;
        }
      }
    }
  }
  .search-field {
    position: absolute;
    &:hover {
      cursor: pointer;
    }
    top: 11px;
    right: 11px;
    @include size($search-field-h, $search-field-h);
    .search-icon {
      display: block;
      text-indent: -9999px;
      position: absolute;
      @include size($search-field-h, $search-field-h);
      top: 0;
      right: 0;
      z-index: 2;
      background: url(../images/search.png) 0 0 no-repeat;
    }
    label {
      display: none;
    }
    input[type="search"] {
      @include transition(all 1s ease-in-out);
      display: none;
      background: $black;
      font: {
        family: "FranklinGothic-Demi", sans-serif;
        size: 21px;
      }
      line-height: $search-field-h;
      color: $base-color;
      @include border-box;
      @include size($search-field-w, $search-field-h);
      padding-right: $search-field-h;
      padding-left: 15px;
    }
    &.active {
      @include size($search-field-w, $search-field-h);
      input {
        display: block;
      }
    }
  }
}
