@font-face {
  font-family: "21_centregular";
  src: url("../fonts/21cent-webfont.eot") format("embedded-opentype");
  src: url("../fonts/21cent-webfont.eot");
  src: url("../fonts/21cent-webfont.eot") format("embedded-opentype"), url("../fonts/21cent-webfont.woff") format("woff"), url("../fonts/21cent-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "21_centbold";
  src: url("../fonts/21cent-bold-webfont.eot") format("embedded-opentype");
  src: url("../fonts/21cent-bold-webfont.eot");
  src: url("../fonts/21cent-bold-webfont.eot") format("embedded-opentype"), url("../fonts/21cent-bold-webfont.woff") format("woff"), url("../fonts/21cent-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "21_centitalic";
  src: url("../fonts/21cent-italic-webfont.eot") format("embedded-opentype");
  src: url("../fonts/21cent-italic-webfont.eot");
  src: url("../fonts/21cent-italic-webfont.eot") format("embedded-opentype"), url("../fonts/21cent-italic-webfont.woff") format("woff"), url("../fonts/21cent-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "21_centbold";
  src: url("../fonts/21cent-bold-webfont.eot") format("embedded-opentype");
  src: url("../fonts/21cent-bold-webfont.eot");
  src: url("../fonts/21cent-bold-webfont.eot") format("embedded-opentype"), url("../fonts/21cent-bold-webfont.woff") format("woff"), url("../fonts/21cent-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "FranklinGothic-Book";
  src: url("../fonts/FranklinGothic-Book.eot") format("embedded-opentype");
  src: url("../fonts/FranklinGothic-Book.eot");
  src: url("../fonts/FranklinGothic-Book.eot") format("embedded-opentype"), url("../fonts/FranklinGothic-Book.woff") format("woff"), url("../fonts/FranklinGothic-Book.ttf") format("truetype"), url("../fonts/FranklinGothic-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "FranklinGothic-Demi";
  src: url("../fonts/FranklinGothic-Demi.eot") format("embedded-opentype");
  src: url("../fonts/FranklinGothic-Demi.eot");
  src: url("../fonts/FranklinGothic-Demi.eot") format("embedded-opentype"), url("../fonts/FranklinGothic-Demi.woff") format("woff"), url("../fonts/FranklinGothic-Demi.ttf") format("truetype"), url("../fonts/FranklinGothic-Demi.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.section-title, nav .dropdown ul li a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.slider .item a, .units-list li a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  border: 0;
  outline: 0;
  outline-width: 0;
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  color: #444 !important;
  -webkit-text-fill-color: #444 !important; }

button {
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  outline-width: 0;
  background: 0; }

input:focus {
  outline-width: 0; }

input,
textarea {
  border: 0;
  outline: 0;
  outline-width: 0;
  -webkit-tap-highlight-color: transparent; }

input[type="date"] {
  -webkit-align-items: center;
  display: -webkit-inline-flex;
  font-family: monospace;
  overflow: hidden;
  padding: 0;
  -webkit-padding-start: 1px; }

::-webkit-datetime-edit {
  padding: 0 1em; }

::-webkit-datetime-edit-fields-wrapper {
  background: #fff; }

::-webkit-datetime-edit-text {
  color: #333;
  padding: 0 0.3em; }

::-webkit-datetime-edit-month-field {
  color: #333; }

::-webkit-datetime-edit-day-field {
  color: #333; }

::-webkit-datetime-edit-year-field {
  color: #333; }

::-webkit-inner-spin-button {
  display: none; }

input::-webkit-datetime-edit {
  -webkit-flex: 1;
  -webkit-user-modify: read-only !important;
  display: inline-block;
  min-width: 0;
  overflow: hidden; }

input::-webkit-datetime-edit-fields-wrapper {
  -webkit-user-modify: read-only !important;
  display: inline-block;
  padding: 1px 0;
  white-space: pre; }

* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  min-width: 1171px;
  max-width: 100%;
  color: #fff;
  font-family: "Circe-Regular", sans-serif;
  font-size: 14px;
  text-align: left; }

.invisible {
  display: none !important; }

.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%; }

.layout-center-wrapper {
  position: relative;
  width: 1171px;
  display: block;
  margin: 0 auto; }

.clearfix:after {
  display: table;
  content: "";
  clear: both; }

.link {
  text-decoration: underline; }

a {
  color: #fff; }

.text-block {
  font-family: "Circe-Light", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  padding-bottom: 15px; }
  .text-block span {
    font-family: "Circe-Bold", sans-serif; }

.section-title {
  line-height: 1.2;
  text-align: left;
  position: relative;
  color: #2F3238;
  font-family: "FranklinGothic-Book", sans-serif;
  font-size: 18px;
  padding-bottom: 40px;
  text-transform: uppercase; }
  .section-title:before {
    content: "";
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 286px;
    height: 1px;
    background: #2F3238; }

.cursive-title {
  line-height: 1.2;
  font-family: "21_centitalic";
  font-style: italic;
  font-size: 36px;
  color: #333; }

header {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 29px 0;
  background: #683817; }
  header .contacts {
    margin: 0 auto;
    display: block;
    text-align: center; }
  header .phone {
    vertical-align: top;
    font-family: "FranklinGothic-Demi", sans-serif;
    font-size: 21px;
    position: relative;
    top: 5px;
    display: inline-block;
    margin-right: 10px; }
  header .contacts-form-ref {
    vertical-align: top;
    text-decoration: none;
    color: #fff;
    height: 34px;
    line-height: 33px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    padding: 0 15px;
    font-family: "FranklinGothic-Demi", sans-serif;
    font-size: 18px;
    display: inline-block;
    background: #333;
    position: relative; }
  header .cart {
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
    width: 80px;
    height: 67px;
    background: url(../images/sprite/sprite.png) 0 -47px no-repeat; }
    header .cart .products-in-cart {
      font-family: "FranklinGothic-Book", sans-serif;
      font-size: 14px;
      color: #fff;
      display: block;
      width: 27px;
      height: 27px;
      position: absolute;
      top: 20px;
      left: 0;
      text-align: center;
      line-height: 27px; }
  header .logo {
    top: 23px;
    left: 33px;
    position: absolute;
    width: 143px;
    height: 45px;
    background: url(../images/logo.png) 0 0 no-repeat; }

nav {
  z-index: 11;
  position: relative;
  width: 100%;
  padding: 30px 0 35px;
  text-align: center; }
  nav .dropdown {
    display: inline-block;
    list-style: none;
    margin: 0 auto; }
    nav .dropdown > li {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-right: 20px; }
      nav .dropdown > li a {
        display: block;
        color: #333;
        text-decoration: none;
        font-family: "FranklinGothic-Demi", sans-serif;
        font-size: 21px; }
      nav .dropdown > li:last-child {
        margin-top: 0; }
    nav .dropdown ul {
      top: 44px;
      text-align: left;
      list-style: none;
      width: 223px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background: #333;
      padding: 10px 20px 10px 25px; }
      nav .dropdown ul:before {
        content: "";
        position: absolute;
        left: 25px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 11px 11px 11px;
        border-color: transparent transparent #333 transparent;
        top: -11px; }
      nav .dropdown ul li {
        display: block;
        margin-bottom: 10px; }
        nav .dropdown ul li a {
          display: block;
          text-decoration: none;
          font-family: "21_centbold";
          font-size: 20px;
          font-weight: bold;
          color: #fff; }
  nav .search-field {
    position: absolute;
    top: 11px;
    right: 11px;
    width: 67px;
    height: 67px; }
    nav .search-field:hover {
      cursor: pointer; }
    nav .search-field .search-icon {
      display: block;
      text-indent: -9999px;
      position: absolute;
      width: 67px;
      height: 67px;
      top: 0;
      right: 0;
      z-index: 2;
      background: url(../images/sprite/sprite.png) -146px 0 no-repeat; }
    nav .search-field label {
      display: none; }
    nav .search-field input[type="search"] {
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      display: none;
      background: #333;
      font-family: "FranklinGothic-Demi", sans-serif;
      font-size: 21px;
      line-height: 67px;
      color: #fff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 242px;
      height: 67px;
      padding-right: 67px;
      padding-left: 15px; }
    nav .search-field.active {
      width: 242px;
      height: 67px; }
      nav .search-field.active input {
        display: block; }

.about-company {
  text-align: center;
  padding: 30px 0 40px; }
  .about-company .cursive-title {
    display: inline-block;
    max-width: 800px;
    margin-bottom: 29px; }

.labels {
  position: relative;
  margin-left: 7px;
  background-color: rgba(51, 51, 51, 0.7);
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 26px;
  font-family: "FranklinGothic-Demi", sans-serif;
  font-size: 15px;
  height: 26px;
  padding: 0 13px;
  text-align: center;
  white-space: nowrap; }
  .labels:before {
    display: block;
    content: "";
    position: absolute;
    top: 7px;
    left: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.5px 7px 6.5px 0;
    border-color: transparent rgba(51, 51, 51, 0.7) transparent transparent; }

.info-window {
  font-family: "FranklinGothic-Demi", sans-serif;
  font-size: 15px;
  color: #333; }

.prev-button, .next-button {
  display: block;
  position: absolute;
  top: 218px;
  text-indent: -9999px;
  z-index: 11;
  width: 30px;
  height: 68px; }

.slider-wrapper {
  width: 100%;
  height: 495px;
  position: relative; }

.slider {
  width: 100%;
  height: 495px;
  position: relative; }
  .slider .item {
    position: relative;
    width: 100%;
    height: 495px;
    display: block; }
    .slider .item a {
      z-index: 2;
      display: block; }
    .slider .item .slider-img {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -960px;
      width: 1920px;
      height: 495px; }
    .slider .item .info {
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;
      text-align: center; }
      .slider .item .info .item-name {
        text-transform: uppercase;
        font-family: "FranklinGothic-Demi", sans-serif;
        font-size: 48px;
        margin-bottom: 10px; }
      .slider .item .info .item-description {
        font-family: "21_centitalic";
        font-size: 24px;
        font-style: italic; }

.prev-button {
  background: url(../images/sprite/sprite.png) 0 -117px no-repeat;
  left: 32px; }

.next-button {
  background: url(../images/sprite/sprite.png) -33px -117px no-repeat;
  right: 32px; }

.pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 23px;
  text-align: center; }
  .pagination a {
    position: relative;
    z-index: 11;
    text-indent: -9999px;
    display: inline-block;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    background: #333;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
    .pagination a:last-child {
      margin-right: 0; }
    .pagination a:hover {
      background: #fff; }
    .pagination a.selected {
      background: #fff; }

form {
  position: relative;
  display: none;
  width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  form.active {
    display: block; }
  form .form-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 431px;
    background: #fff;
    padding: 23px 33px 34px;
    display: inline-block;
    text-align: left; }
  form .form-header {
    font-family: "FranklinGothic-Demi", sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px; }
  form input[type="text"],
  form input[type="phone"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: block;
    font-family: "FranklinGothic-Book", sans-serif;
    font-size: 18px;
    background: #ddd;
    padding: 0 25px;
    color: #878787;
    height: 45px;
    margin-bottom: 20px;
    line-height: normal; }
    form input[type="text"] :-webkit-input-placeholder,
    form input[type="phone"] :-webkit-input-placeholder {
      color: #878787; }
    form input[type="text"] :-moz-placeholder,
    form input[type="phone"] :-moz-placeholder {
      color: #878787; }
    form input[type="text"] :-ms-input-placeholder,
    form input[type="phone"] :-ms-input-placeholder {
      color: #878787; }
  form .close-icon {
    position: absolute;
    top: 21px;
    right: 21px;
    width: 23px;
    height: 23px;
    background: url(../images/sprite/sprite.png) -170px -70px no-repeat; }
    form .close-icon:hover {
      cursor: pointer; }
  form input[type="submit"] {
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 25px;
    height: 45px;
    line-height: normal;
    font-family: "FranklinGothic-Demi", sans-serif;
    font-size: 18px;
    background: #ff595b; }

.callback-form {
  position: absolute;
  top: 232px;
  z-index: 11; }

.btn {
  display: inline-block;
  height: 34px;
  line-height: 33px;
  text-decoration: none;
  text-align: center;
  font-family: "FranklinGothic-Demi", sans-serif;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 23px;
  color: #333;
  border: 1px solid #838383;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px; }

.units {
  text-align: center;
  padding: 45px 0 20px;
  background: #ddd; }

.units-list {
  display: inline-block;
  vertical-align: top; }
  .units-list li {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 370px;
    height: 253px;
    background: #f3f3f3;
    margin-bottom: 25px;
    margin-right: 29px;
    text-align: left; }
    .units-list li a {
      display: block;
      z-index: 3; }
    .units-list li:nth-child(3n) {
      margin-right: 0; }
    .units-list li .unit-info {
      z-index: 2;
      width: 370px;
      height: 253px;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 23px 20px 0;
      color: #333; }
      .units-list li .unit-info .name {
        text-transform: uppercase;
        line-height: 1;
        font-family: "FranklinGothic-Book", sans-serif;
        font-size: 44px; }
      .units-list li .unit-info .description {
        position: absolute;
        line-height: 1.2;
        max-width: 190px;
        font-family: "21_centitalic";
        font-style: italic;
        font-size: 14px;
        bottom: 30px;
        left: 20px; }
    .units-list li .unit-picture {
      width: 152px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: url(../images/units/furniture.png) no-repeat 0 0; }
    .units-list li.chairs .unit-picture {
      background: url(../images/units/chairs.png) no-repeat 0 0; }
    .units-list li.tables .unit-picture {
      background: url(../images/units/tables.png) no-repeat 0 0; }
    .units-list li.cushioned-furniture .unit-picture {
      background: url(../images/units/cushioned-furniture.png) no-repeat 0 0; }

.leaders-and-news {
  padding: 86px 0;
  background: #fff; }
  .leaders-and-news .sales-leaders {
    padding-bottom: 80px; }

.sales-leaders-list, .news-list {
  background: #fff;
  text-align: left;
  table-layout: fixed;
  width: 100%; }
  .sales-leaders-list td, .news-list td {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .sales-leaders-list td.content, .news-list td.content {
      width: 286px; }
    .sales-leaders-list td.blank-cell, .news-list td.blank-cell {
      width: 9px; }

.sales-leaders-list tr.img-row img {
  width: 286px;
  height: 198px;
  vertical-align: top;
  margin-bottom: 0;
  display: inline-block; }
.sales-leaders-list tr.leader-name-row td {
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
  padding: 10px;
  color: #333;
  font-family: "21_centbold";
  font-size: 18px;
  font-weight: bold; }
.sales-leaders-list tr.leader-unit-row td {
  text-align: center;
  vertical-align: top;
  font-family: "21_centitalic";
  font-style: italic;
  font-size: 14px;
  padding-bottom: 18px;
  color: #b2b2b2; }
  .sales-leaders-list tr.leader-unit-row td.content {
    border-bottom: 1px solid #b2b2b2; }
.sales-leaders-list tr.leader-price-row td {
  text-align: center;
  padding-top: 20px; }
  .sales-leaders-list tr.leader-price-row td .price {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 23px;
    float: left;
    text-align: right;
    width: 135px;
    position: relative;
    height: 44px;
    line-height: 47px;
    color: #333;
    font-family: "21_centbold";
    font-size: 24px;
    font-weight: bold; }
    .sales-leaders-list tr.leader-price-row td .price:before {
      position: absolute;
      right: 4px;
      top: 13px;
      content: "";
      width: 17px;
      height: 18px;
      background: url(../images/sprite/sprite.png) -196px -70px no-repeat; }
  .sales-leaders-list tr.leader-price-row td .cart {
    width: 143px;
    height: 44px;
    display: block;
    float: right;
    background: url(../images/sprite/sprite.png) 0 0 no-repeat; }

.news-list tr.news-name-row td, .news-list tr.news-text-row td {
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  vertical-align: top;
  padding: 15px 22px;
  color: #333;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto; }
  .news-list tr.news-name-row td.content, .news-list tr.news-text-row td.content {
    background: #ddd; }

.news-list tr.img-row img {
  width: 286px;
  height: 177px;
  vertical-align: top;
  margin-bottom: 0;
  display: inline-block; }
.news-list tr.news-name-row td {
  line-height: 1.2;
  font-family: "21_centbold";
  font-size: 18px;
  font-weight: bold; }
  .news-list tr.news-name-row td a {
    color: #333;
    display: block;
    text-decoration: none; }
.news-list tr.news-text-row td {
  padding: 0 22px 15px;
  line-height: 1.5;
  font-family: "21_cent";
  font-size: 14px; }

.our-contacts-table {
  width: 100%; }
  .our-contacts-table .contacts-info {
    padding: 44px 0 23px;
    width: 50%;
    background: #ddd;
    text-align: right; }
    .our-contacts-table .contacts-info .location {
      width: 33px;
      height: 45px;
      background: url(../images/sprite/sprite.png) -66px -117px no-repeat;
      margin: 0 auto 37px; }
    .our-contacts-table .contacts-info .logo {
      width: 261px;
      height: 82px;
      background: url(../images/big-logo.png) 0 0 no-repeat;
      margin: 0 auto 37px; }
    .our-contacts-table .contacts-info .contacts-list {
      list-style: none;
      margin-bottom: 38px;
      color: #333;
      font-family: "FranklinGothic-Book", sans-serif;
      font-size: 18px; }
      .our-contacts-table .contacts-info .contacts-list li {
        margin-bottom: 17px; }
        .our-contacts-table .contacts-info .contacts-list li:last-child {
          margin-bottom: 0; }
      .our-contacts-table .contacts-info .contacts-list span {
        font-family: "FranklinGothic-Demi", sans-serif; }
    .our-contacts-table .contacts-info .contacts-info-wrapper {
      text-align: center;
      display: inline-block;
      width: 450px;
      padding-right: 125px; }
    .our-contacts-table .contacts-info .copyright {
      line-height: 1.8;
      color: #333;
      font-family: "FranklinGothic-Book", sans-serif;
      font-size: 12px; }
      .our-contacts-table .contacts-info .copyright .current-date {
        text-transform: uppercase; }
  .our-contacts-table .map {
    width: 50%; }

.social-list {
  text-align: center; }
  .social-list li {
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 20px;
    position: relative;
    width: 45px;
    height: 45px; }
    .social-list li:last-child {
      margin-right: 0; }
    .social-list li .social-btn {
      display: block;
      width: 45px;
      height: 45px; }
      .social-list li .social-btn.fb {
        background: url(../images/sprite/sprite.png) -83px -47px no-repeat; }

/*# sourceMappingURL=main.css.map */
