@font-face {
  font-family: '21_centregular';
  src: url("../fonts/21cent-webfont.eot") format("embedded-opentype");
  src: url("../fonts/21cent-webfont.eot");
  src: url("../fonts/21cent-webfont.eot") format("embedded-opentype"), url("../fonts/21cent-webfont.woff") format("woff"), url("../fonts/21cent-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: '21_centbold';
  src: url("../fonts/21cent-bold-webfont.eot") format("embedded-opentype");
  src: url("../fonts/21cent-bold-webfont.eot");
  src: url("../fonts/21cent-bold-webfont.eot") format("embedded-opentype"), url("../fonts/21cent-bold-webfont.woff") format("woff"), url("../fonts/21cent-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: '21_centitalic';
  src: url("../fonts/21cent-italic-webfont.eot") format("embedded-opentype");
  src: url("../fonts/21cent-italic-webfont.eot");
  src: url("../fonts/21cent-italic-webfont.eot") format("embedded-opentype"), url("../fonts/21cent-italic-webfont.woff") format("woff"), url("../fonts/21cent-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: '21_centbold';
  src: url("../fonts/21cent-bold-webfont.eot") format("embedded-opentype");
  src: url("../fonts/21cent-bold-webfont.eot");
  src: url("../fonts/21cent-bold-webfont.eot") format("embedded-opentype"), url("../fonts/21cent-bold-webfont.woff") format("woff"), url("../fonts/21cent-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FranklinGothic-Book';
  src: url("../fonts/FranklinGothic-Book.eot") format("embedded-opentype");
  src: url("../fonts/FranklinGothic-Book.eot");
  src: url("../fonts/FranklinGothic-Book.eot") format("embedded-opentype"), url("../fonts/FranklinGothic-Book.woff") format("woff"), url("../fonts/FranklinGothic-Book.ttf") format("truetype"), url("../fonts/FranklinGothic-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FranklinGothic-Demi';
  src: url("../fonts/FranklinGothic-Demi.eot") format("embedded-opentype");
  src: url("../fonts/FranklinGothic-Demi.eot");
  src: url("../fonts/FranklinGothic-Demi.eot") format("embedded-opentype"), url("../fonts/FranklinGothic-Demi.woff") format("woff"), url("../fonts/FranklinGothic-Demi.ttf") format("truetype"), url("../fonts/FranklinGothic-Demi.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  border: 0;
  outline: 0;
  outline-width: 0;
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  color: #444 !important;
  -webkit-text-fill-color: #444 !important; }

button {
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  outline-width: 0;
  background: 0; }

input:focus {
  outline-width: 0; }

input,
textarea {
  border: 0;
  outline: 0;
  outline-width: 0;
  -webkit-tap-highlight-color: transparent; }

input[type="date"] {
  -webkit-align-items: center;
  display: -webkit-inline-flex;
  font-family: monospace;
  overflow: hidden;
  padding: 0;
  -webkit-padding-start: 1px; }

::-webkit-datetime-edit {
  padding: 0 1em; }

::-webkit-datetime-edit-fields-wrapper {
  background: #fff; }

::-webkit-datetime-edit-text {
  color: #333;
  padding: 0 0.3em; }

::-webkit-datetime-edit-month-field {
  color: #333; }

::-webkit-datetime-edit-day-field {
  color: #333; }

::-webkit-datetime-edit-year-field {
  color: #333; }

::-webkit-inner-spin-button {
  display: none; }

input::-webkit-datetime-edit {
  -webkit-flex: 1;
  -webkit-user-modify: read-only !important;
  display: inline-block;
  min-width: 0;
  overflow: hidden; }

input::-webkit-datetime-edit-fields-wrapper {
  -webkit-user-modify: read-only !important;
  display: inline-block;
  padding: 1px 0;
  white-space: pre; }

* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  min-width: 1171px;
  max-width: 100%;
  color: #fff;
  font-family: "Circe-Regular", sans-serif;
  font-size: 14px;
  text-align: left; }

.invisible {
  display: none !important; }

.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%; }

.layout-center-wrapper {
  position: relative;
  width: 1171px;
  display: block;
  margin: 0 auto; }

.clearfix:after {
  display: table;
  content: "";
  clear: both; }

.link {
  text-decoration: underline; }

a {
  color: #fff; }

.btn {
  text-align: center;
  text-decoration: none;
  display: inline-block; }
  .btn:hover {
    text-decoration: underline; }

.text-block {
  font-family: "Circe-Light", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  padding-bottom: 15px; }
  .text-block span {
    font-family: "Circe-Bold", sans-serif; }

.section-title {
  line-height: 1.2;
  font-family: "Circe-Bold", sans-serif;
  font-size: 48px;
  text-transform: uppercase; }

header {
  position: relative;
  width: 100%;
  height: 89px;
  background: #683817; }
  header .cart {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 80px;
    height: 67px;
    background: url(../images/cart.png) 0 0 no-repeat; }
    header .cart .products-in-cart {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 19px;
      left: 0;
      text-align: center;
      line-height: 27px; }
  header .logo {
    top: 22px;
    left: 33px;
    position: absolute;
    width: 143px;
    height: 45px;
    background: url(../images/logo.png) 0 0 no-repeat; }

/*# sourceMappingURL=main.css.map */
